- name: Install {{ jdk }}
  get_url:
    url: "{{ jdk_url }}"
    dest: ~/applications/jdk.tar.gz
    headers: 'Cookie:oraclelicense=accept-securebackup-cookie'
- command: tar xvfz ~/applications/jdk.tar.gz -C ~/applications
  args:
    creates: ~/applications/{{ jdk }}
- file: src=~/applications/{{ jdk }} dest=~/applications/jdk state=link
